.navstuff{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: rgb(152,180,204);
align-items: center;

}
.logoo{
    width: 80px;

}
.shopppo{
    height: 40px;
    border-radius: 23904802px;
    background-color: aqua;
}
.partypooper{
    height: 40px;
    background-color: white;
    border: 2px black solid;
    border-radius: 239084px;
    width:100px
}