.navstuff{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: rgb(152,180,204);
align-items: center;

}
.logoo{
    width: 80px;

}
.shopppo{
    height: 40px;
    border-radius: 23904802px;
    background-color: white;
    cursor: pointer;
}
.partypooper{
    height: 40px;
    background-color: black;
    border: 2px white solid;
    border-radius: 239084px;
    width:100px;
    cursor:pointer;
    color: white;
}
.welcome{
    display: flex;
    flex-direction: row;
}
.isme{
    font-size: 30px;
}
.ismewrap{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(121,245,217);
}
.githuu{
    width: 70px;
    cursor: pointer;
}
.author{
   padding-right: 10%;
}