.navstuff{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  /* background-color: rgb(152,180,204); */
align-items: center;
/* width: 100%; */
}
.logoo{
    width: 80px;

}
.shopppo{
    height: 40px;
    border-radius: 23904802px;
    background-color: white;
    cursor: pointer;
    margin-left: -190px;
}
.partypooper{
    /* height: 40px; */
    /* background-color: black; */
    /* border: 2px white solid; */
    /* border-radius: 239084px; */
    /* width:100px; */
   
    color: black;
    font-size: 14px;
}
.loggowrap{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 20px;
   cursor:pointer;
}
.loggowrap:hover{
    background-color: rgb(230, 230, 230);
}
.loggowrap2{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#bracket{
    font-size: 28px;
}
.welcome{
    display: flex;
    flex-direction: row;
}
.isme{
    font-size: 30px;
}
.ismewrap{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(121,245,217);
}
.githuu{
    width: 30px;
    cursor: pointer;
    /* font-size: 23px; */
    padding: 13px;
    cursor: pointer;
    border-radius: 50%;
}
.githuuu{
    width: 30px;
    cursor: pointer;
}
.author{
    /* display: flex; */
    display: flex;
    align-items: center;
   padding-right: 10px;
   padding-left: 10px;
}
.bigsearchbar{
    font-size: 20px;
    /* border:2px solid black; */
padding-left: 20px;
padding-top:10px;
padding-bottom: 10px;
border-radius: 234234px;
border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: white;
    background-color: rgb(244,244,244);
    width: 100%;
    outline: none;
    
}
.linkwrap{
    padding-left: 30px;
    padding-right: 30px;
}

.zecartwrap{
    padding-right: 10px;
}
#zecart{
    font-size: 23px;
    padding: 13px;
    cursor: pointer;
}
#zecart:hover{
    background-color: rgb(230, 230, 230);
    padding: 13px;
    border-radius: 50%;
    /* transition: all .3s ease; */
}
.githuu:hover{
    background-color: rgb(230, 230, 230);
    padding: 13px;
    border-radius: 50%;
    /* transition: all .3s ease; */
}
.githuuu:hover{
    background-color: rgb(230, 230, 230);
   
    padding: 13px; 
     border-radius: 50%; 
     /* transition: all .3s ease; */
}
.lenav{
    /* display: flex; */
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.marketprofwrap{
    display: flex;
    align-items: center;
}
#market{
    font-size: 23px;
    padding: 13px;
    cursor: pointer;
}
#market:hover{
    background-color: rgb(230, 230, 230);
    padding: 13px;
    border-radius: 50%;
    /* transition: all .3s ease; */
}
.marketwrap{
    padding-left: 10px;
    padding-right: 10px;
}
.profwrapper{
    
    padding-right: 10px;
}
.navline{
    height: 2px;
    width: 100%;
    background-color: rgb(211, 211, 211);
}