.bg{
    height: 235px;
    width: 100%;
    /* position: absolute; */
}
.bgdetails{
    position: relative;
    height: 200px;
    /* width: 80%; */
    /* background-color: rgb(250,250,250); */
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border: 2px solid black;
    border-radius: 10px;
    top: -4px;
}
.anon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
}
.oneshopimg{
    height: 120px;
    width:120px;
    border-radius: 12px;
    /* padding-left: 10px; */
    border: 2px solid black;
}
.freshtext{
    font-size: 15px;
    /* background-color: rgb(255, 255, 255); */
    max-width: 100px;
}
.trucktext{
    font-size: 15px;
    /* background-color: rgb(255, 255, 255); */
    max-width: 100px;
    border-radius: 10px;
}
.imgdesc{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    
}
.shopname{
    font-weight: bold;
    font-size: 25px;
}
.contactinfo{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
}
.anonprof{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding-bottom: 20px;
    
}
.freshdiv{
    padding-bottom: 20px;
}
.truckdiv{
    padding-bottom: 20px;
}
.shopdetail{
    padding-left: 5px;
}
.email{
    padding-left: 5px;
}
.shopdesc{
    font-size: 15px;
}
.shopcountry{
    font-size: 15px;
    font-weight: bold;
}
.gridpost{
    display: grid;
    font-size: 15px;
    /* max-width: 30%; */
    color: black;
}
.postwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /* grid-auto-rows: 3; */
    overflow-x: hidden;
    /* grid-template-rows: repeat(130px,4); */
    /* max-width: 1100px; */
    margin-left:0;
     /* margin-right: 0; */
    /* /* margin-right: auto;  */
    gap: 12px;
    /* color:black */
    max-height: 85vh;
}
.imgpost{
    width: 100% ;
    height: 70%;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid black;
}
.postnav{
    text-decoration: none;
    object-fit: fill;
    color: black;
}
.est{
    font-size: 10px;
}
.posprice{
    
}
.featured{
    max-width: 1100px;
    margin-left: 5px;
    margin-right: 0;
}
.anoun{
    display: grid;
    grid-template-columns: 2.5fr 8fr;
    font-size: 13px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    padding-bottom: 30px;
    /* min-width: 700px; */
    padding-top: 40px;
    
}
.anountext{
    font-weight: bold;
    font-size: 14px;
}
.gridwrappa{
    display: grid;
    grid-template-columns: 2.5fr 8fr;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.fakesearch{
    width: 190px;
    background-color: gray;
    height: 35px;
    border-radius: 98898px;
    color: white;
    cursor: not-allowed;
}
.faker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-top: 20px;
}
.starrating{
    font-size: 25px;
}
.feat{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 15px;
}
.item{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 15px;
}
.editshobut{
    margin-top:-19px ;
    position: absolute;
    padding: 10px;
    width: 200px;
    background-color: white;
    border-radius: 34809834px;
    font-weight: bold;
    margin-left: 20vw;
    cursor: pointer;
}
.newwpp{
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    position: absolute;
    /* max-width: 1110px; */
    min-width: 700px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    height:1250px
}