.bg{
    height: 200px;
    width: 100%;
    position: absolute;
}
.bgdetails{
    position: relative;
    height: 200px;
    /* width: 80%; */
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.anon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.oneshopimg{
    height: 90px;
    width:90px;
    border-radius: 8px;
}
.freshtext{
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 100px;
}
.trucktext{
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 100px;
    border-radius: 10px;
}
.imgdesc{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    
}
.shopname{
    font-weight: bold;
    font-size: 25px;
}
.contactinfo{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.anonprof{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding-bottom: 20px;
    
}
.freshdiv{
    padding-bottom: 20px;
}
.truckdiv{
    padding-bottom: 20px;
}
.shopdetail{
    padding-left: 5px;
}
.email{
    padding-left: 5px;
}
.shopdesc{
    font-size: 10px;
}
.shopcountry{
    font-size: 10px;
    font-weight: bold;
}
.gridpost{
    display: grid;
    font-size: 15px;
    max-width: 30%;
}
.postwrapper{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;  */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* width: 80%; */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    gap: 12px
}
.imgpost{
    width: 100% ;
    border-radius: 8px;
}
.postnav{
    text-decoration: none;
}
.est{
    font-size: 10px;
}
.posprice{
    
}
.featured{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}