.bg{
    height: 200px;
    width: 100%;
    position: absolute;
}
.bgdetails{
    position: relative;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.anon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.oneshopimg{
    height: 90px;
    width:90px;
}