.logreg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.logcontainer{
    margin-left: 30px;
    margin-right: 30px;
    /* height: 400px; */
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 45%;
    /* border: 2px solid purple; */
}
/* .password{ */
    /* width: 400px; */
/* } */
.passlabel{
    font-size: 20px; 
     /* width: 100%;  */
     padding: 10px;
     border-radius: 10px;
}
.sig{
     font-size: 20px; 
    font-weight: bold;
}
.emaillabel{
    font-size: 20px; 
     /* width: 100%;  */
     padding: 10px;
     border-radius: 10px;
}
.emailwrap{
    padding-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
.passwrap{
    padding-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
.signbut{
    background-color: black;
    color: white;
    width:100%;
    border-radius: 47823840328490px;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
}
.passwrapwrap{
    padding-bottom: 30px;
}
.demoWrap{
    padding-top: 30px;
    /* display: flex; */
}
.setsignbut{
    border-radius: 7423743298px;
    padding: 10px;
    font-weight: bold;
    background-color: white;
    border: white;
    cursor:pointer;
    width: 80px;

}
.setsignbut:hover{
    background-color: rgb(230, 230, 230);
}
.signbutwrap{
    margin-top: -7px;
}
.logmodalwrap{
    padding-left: 15px;
    padding-right: 10px;
}