.emailllabel{
    font-size: 20px; 
     padding: 10px;
     border-radius: 10px;
}
.emaillwrap{
    padding-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
.passlabell{
    font-size: 20px; 
     padding: 10px;
     border-radius: 10px;
}

.passwrapp{
    padding-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
.repeatlabel{
    font-size: 20px; 
     padding: 10px;
     border-radius: 10px;
}
.repeatwrap{

    padding-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
.firstnamelabel{
    font-size: 20px; 
     padding: 10px;
     border-radius: 10px;
}
.firstnamewrap{
    padding-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
/* .signform{
    display: flex;
    flex-direction: column;
} */
.div1{
    display: flex;
    flex-direction: column;
}
.div2{
    display: flex;
    flex-direction: column;
}
.div3{
    display: flex;
    flex-direction: column;
}
.div4{
    display: flex;
    flex-direction: column;
}
.signform{
    margin-left: 30px;
    margin-right: 30px;
    /* height: 400px; */
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 45%;
}
.createacc{
    font-size: 20px; 
    font-weight: bold;
    padding-bottom: 10px;
}
.regisez{
padding-bottom: 10px;
}

.regisbut{
    background-color: black;
    color: white;
    width:100%;
    border-radius: 47823840328490px;
    font-size: 20px;
    padding: 8px;
}
.regiwrap{
    padding-top:30px ;
}