.PostImageContainer{
    position: relative;
    /* display: grid; */
    /* grid-column: 4; */
    /* border: 2px black solid; */
    width: 160px;
    height: 100px;
}

.postgrid{
    display: grid;
    width: 720px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    overflow: hidden;
    grid-gap: 15px;
    margin-left:auto;
    margin-right: auto;
    /* max-height: 400px; */
    /* overflow-y: scroll; */
    
}
/* .Image{
    width: 100%;
    height: 100%;
} */
.PostPriceWrap{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 75px;
   margin-left: 5px;
   display: flex;
}
.Price{
    /* position:absolute; */
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228);
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.Shops{
    display: grid;
    grid-row: 1;
    overflow-x: scroll;
    /* scrollbar-width: thin; */
}


.Shops2{
    display: grid;
    grid-row: 1;
    width: 20%;
    height: 20%;
    /* overflow-x: scroll; */
}
.pics{
    width: 100%;
    height: 100%;
    border: 2px white solid;
    border-radius: 8px;
}
.pics:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    width: 160px;
    height: 100px;
    border-radius: 8px;
  }
  .PostImage{
    padding: 4px;
    width: 160px;
    height: 100px;
    /* border-radius: 5px; */
}
.color{
    height: 200px;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 700px;
    /* margin-left: 0px; */
}
.shopgrid{
    height: 200px;
    position: relative;
    display: grid;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-gap: 80px;
    width: 45%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.pink{
    background-color: pink;
    /* width: 100%; */
}
.inmap{
    display: grid;
    grid-row:1;
    height: 100px;
    width: 100px;
    padding-top: 60px;
}
.Image{
    height: 80px;
    width:80px;
    border-radius: 50%;
}
.blanktext{
    display: flex;
    justify-content: center;
    font-size: 25px;
    /* padding-top: 20px; */
}
.imagename{
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
}
.navls{
    text-decoration: none;
    color: black;
}
.checkoutshop{
    display: flex;
    justify-content: center;
    /* padding-top: 70px; */
    /* flex-direction: column */
}
    .cheke{
        background-color: rgb(153,179,204);
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* height: 100px; */

    }
.nana{
    color: black;
}
.priceroo{
    color: black;
}
/* .justname{
    word-wrap: break-word;          
} */

html, body {
    margin: 0;
    padding: 0;
  }