.PostImageContainer{
    position: relative;
    /* display: grid; */
    /* grid-column: 4; */
    /* border: 2px black solid; */
    width: 160px;
    height: 100px;
}

.postgrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 905px;
   
   /* grid-template-columns: repeat(4,1fr); */
   /* grid-auto-rows: 0; */
    /* grid-template-rows: masonry; */
    /* column-count: 4; */
    /* column-gap: 10px; */
    /* masonry-auto-flow: next; */
    /* columns: 4; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    
    grid-gap: 15px;
    margin-left:auto;
    margin-right: auto;
    /* max-height: 400px; */
    /* overflow-y: scroll; */
    /* float: left;
    margin:10px */
}
.browse{
    width: 905px;
    grid-gap: 15px;
    margin-left:auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.uniq{
    width: 905px;
    grid-gap: 15px;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 20px;
}
/* .Image{
    width: 100%;
    height: 100%;
} */
.PostPriceWrap0{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 130px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap1{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 211px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap7{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 130px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap6{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 211px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap2{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 130px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap3{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 211px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap5{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 130px;
   margin-left: 14px;
   display: flex;
}
.PostPriceWrap4{
    position: absolute;
    height: 20px;
    /* width:75px; */
    /* background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228); */
    top: 0;
    bottom:0 ;
    left: 0;
    right: 0;
    margin-top: 211px;
   margin-left: 14px;
   display: flex;
}
.Price{
    /* position:absolute; */
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: .5px solid rgb(239, 228, 228);
    width: auto;
    height: 20px;
    font-weight: bold;
    /* padding: 5px; */
    padding-top: 3px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.Shops{
    display: grid;
    grid-row: 1;
    /* overflow-x: scroll; */
    /* scrollbar-width: thin; */
}


.Shops2{
    display: grid;
    grid-row: 1;
    width: 20%;
    height: 20%;
    /* overflow-x: scroll; */
}
.pics{
    width: 100%;
    height: 100%;
    /* border: 2px white solid; */
/* border: 1px solid gray; */
    border-radius: 8px;
}
.pics:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all .3s ease;
   
  }

  .PostImage{
    padding: 4px;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
}
.color{
    height: 300px;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 700px;
    /* margin-left: 0px; */
}
.justnamewrap{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    word-break: normal;
    overflow: hidden;
    text-align: center;
    /* padding-top: 15px; */
    /* margin-bottom: -30px; */
    /* height: 50%; */
    
}
.shopgrid{
    height: 210px;
    position: relative;
    display: grid;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    grid-gap: 40px;
    width: 40%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}
.shopgrid2{
    height: 210px;
    position: relative;
    display: grid;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    grid-gap: 40px;
    width: 40%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 35px; */
}
.pink{
    background-color: rgb(253,235,210);
    /* width: 100%; */
}
.inmap{
    display: grid;
    grid-row:1;
    height: 100px;
    width: 100px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.inmap2{
    display: grid;
    grid-row:1;
    height: 100px;
    width: 100px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.Image:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    height: 110px;
    width:110px;
    border-radius: 1000px;
    transition: all .2s ease;

  }
  .imagename:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
  }
.Image{
    height: 100px;
    width:100px;
    border-radius: 50%;
}
.ImageWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width:110px;
    border-radius: 50%;
}
.blanktext{
    display: flex;
    justify-content: center;
    font-size: 35px;
   
    
    /* padding-top: 20px; */
}
.blanktextwrap{
    margin-top: 25px;
}
.imagename{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    height: 100%;
}
.navls{
    text-decoration: none;
    color: black;
}
.checkoutshop{
    display: flex;
    justify-content: center;
    /* padding-top: 70px; */
    /* flex-direction: column */
}
    .cheke{
        /* background-color: rgb(153,179,204); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* height: 100px; */

    }
.nana{
    color: black;
}
.priceroo{
    color: black;
    
}
.justname{
    /* margin-top: 20px; */
    /* padding-top: 20px; */
}


/* .pics0{
    width: 100%;
    height: 100%;
}
.pics1{
    width: 100px;
    height: 200px;
}
.pics2{
    width: 100px;
    height: 200px;
} */
.PostImageContainer0{
    position: relative;
    width: 215px;
    height: 160px;
}
.PostImageContainer1{
    position: relative;
    width: 215px;
    height: 240px;
}
.PostImageContainer2{
    position: relative;
    width: 215px;
    height: 160px;
}
.PostImageContainer3{
    position: relative;
    width: 215px;
    height: 240px;
}
.PostImageContainer5{
    position: relative;
    width: 215px;
    height: 160px;
}
.PostImageContainer4{
    position: relative;
    width: 215px;
    height: 240px;
    margin-top: -80px;
}
.PostImageContainer7{
    position: relative;
    width: 215px;
    height: 160px;
}
.PostImageContainer6{
    position: relative;
    width: 215px;
    height: 240px;
    margin-top: -80px;
}
.lastgrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 905px;
    height: 300px;
}
.minigridname{
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 10px;
}
.lastgridinner{
    width: 205px;
    display: flex;
    flex-direction: column;
    border: 1px rgb(189, 189, 189) solid;
    border-radius: 10px;
}
.minigridnamewrapwrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    word-break: break-all;
    padding-top: 10px
    ;
}
.miniitemwrap{
display: flex;
justify-content: flex-end;
padding-right: 15px;
padding-bottom: 10px;

}
.lastimagewrap{
    display: flex;
}
.lastsplashgrid{
    display: grid;
     grid-template-columns: 1fr 1fr;
     grid-row: auto; 
    width: 200px;
    height:200px;
  gap: 5px;
}

.minigridnamewrap{
    display: flex;
   
}
html, body {
    margin: 0;
    padding: 0;
  }
  .lastimage0{
    width:100px;
    height: 100px;
  }
  .lastimage1{
    width:100px;
    height: 100px;
  }
  .lastimage2{
    width:100px;
    height: 100px;
    border-bottom-left-radius: 10px;
  }
  .lastimage3{
    width:100px;
    height: 100px;
    border-bottom-right-radius: 10px;
  }
  .lastimage0:hover{
    opacity: .6;
 
  }
  .lastimage1:hover{
    opacity: .6;
 
  }
  .lastimage2:hover{
    opacity: .6;
 
  }
  .lastimage3:hover{
    opacity: .6;
 
  }
  .splashnav{
    color: black;
    text-decoration: none;
  }