.oneword{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.onewordwrap{
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.purchasenavlink{
    text-decoration: none;
    color: black;
}
.purchasegrid{
    /* height: 500px; */
    width: 1000px;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 4fr 1fr;
   /* column-count: 2; */
    padding-bottom: 50px;
  
}  
.purchasedetailsgrid{
    display: grid;
    /* grid-row: 2; */
    /* background-color: aquamarine; */
}
.pricio{
/* font-weight: bold; */
}
.purchasedetailsgrid1{
    /* background-color: rgb(213, 26, 26); */
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(213, 213, 213);
    /* background-color: gray; */
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
    ;
}
.purchasedetailsgrid2{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 4px;
}
.detailimagewrap{
    padding-left: 35px;
    padding-right: 25px;
   
}
.purchasenam{
    font-weight: bold;
    padding-bottom: 10px;
}
.purchasedetailsimage{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 105px;
    height: 105px;
    border: 2px rgb(223, 223, 223) solid;
    border-radius: 3px;
}
.detailimage{
    width:100px;
    height: 100px;
   
}
.buyaganplusprice{
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}
.purchasedetailswrap{
    border: 2px solid  rgb(213, 213, 213);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wholewrap{
    display: flex;
    flex-direction: column;
   align-items: center;

   
}
.reviewbuttongrids{
    padding-left:15px;
}
.process{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.aline{
    height: 2px;
    background-color:rgb(213,213,213) ;
    width: 100%;
}
.alinewrap{
    padding-bottom: 20px;
}
.rebuy{
    background-color: black;
    color:white;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-weight: bold; */
    border-radius: 3px;
    font-size: 17px;
}
.viewrev{
    background-color: white;
    border: 1.5px black solid;
    color:black;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-weight: bold; */
    border-radius: 3px;
    font-size: 17px;
}
.editdetailrev{
    background-color: white;
    border: 1.5px black solid;
    color:black;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-weight: bold; */
    border-radius: 3px;
    font-size: 17px;
}
.lebuttons{
    padding-top: 4px;
    padding-bottom: 4px;
}
.starthing{
    /* position: relative; */
    display: flex;
    background-color: rgb(250,249,245);
   word-break: break-all;
   

}
.starthing2{
    /* position: relative; */
    /* display: flex; */
    background-color: rgb(250,249,245);
   word-break: break-all;
   

}
.starthinginner{
    font-size: 13px;
    padding-left: 10px;
}
.starthinginner2{
    padding-left: 75px;
    padding-top: 20px;
}
.bothrevwrap{
    display: flex;
}
.starthinginnerwrap{
    display: flex;
    align-items: center;
}
.revfrdelete{
    padding-left: 9px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 5px;
    color: red;
    
    
}
.revfrdeletewrap{
display: flex;
padding-left: 50px;
}
.buyagan{
    background-color: black;
    color: white;
    padding:6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.buyaganprice{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 12px;
}
.purchasefrom{
    color: black;
}
.yourevwrap{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px
    ;
}
.blusta{
    content: '\f005';
    font-family: fontAwesome;
    font-size: 20px;
    color: #17c1b9;
    
}
.blusta input::before{
    content: '\f005';
    font-family: fontAwesome;
    /* position:relative; */
    /* display:block; */
    font-size: 20px;
    color: rgb(203,204,201);
   }
   .blusta input{
    appearance: none;
   }
   .greensta input::before{
    content: '\f005';
    font-family: fontAwesome;
    /* position:relative; */
    /* display:block; */
    font-size: 20px;
    color: #17c1b9;
   }
   .greensta input{
    appearance: none;
   }
  .blust{
    display: flex;
    
  }
  .yourevwrap2{
    display: flex;
    align-items: center;
  }
  .filterdesc{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .revfr{
    padding-left: 9px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 5px;
    /* width: 100px; */
  }
  .daterwrap{
    display: flex;
    align-items: center;
    padding-left: 230px;
  }
  .zeb{
    padding-left: 5px;
  }
  .wholepurchasecontainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .zefooter{
    margin-top: auto;
  }
  