.firstpostgrid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
   word-break: normal;
    
}
.firstpostimg{
    width: 500px;
    height: 500px;
    border-radius: 15px;
    /* border: 2px solid gray; */
}
.sellerbut{
    /* background-color: white; */
    /* border-radius: 50%; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    min-width: 200px;
    width: auto;
    /* margin-left: 10%;
     */
     /* display: flex; */
     justify-content: center;
}
.omago{
    border-radius: 50%;
    width: 70px;
}
.omago:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    /* width: 160px;
    height: 100px; */
    border-radius: 853434543px;
  }
.posnam{
    /* font-weight: bold; */
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    /* word-break: break-all; */
}
.posdes{
    font-size: 15px;
    padding-bottom: 35px;
}
.pospri{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.shoprev{
    font-size: 30px;
    padding-top: 20px;
}
.shp{
padding-top: 10px;
}
.sellerbutwrap{
    display: flex;
    /* justify-content: center; */
    padding-left: 20px;
}
.otherhalf{
    flex-wrap: wrap;
    overflow-x: scroll;
    /* border: 3px #ffffff solid; */
 }
 .s1{
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .oos{
    padding-top: 30px;
    font-weight: bold;
    color: red;
    
 }
 .ooswrap{
display: flex;
font-size: 25px;
justify-content: center; 
padding-bottom: 25px;
}
.editposta{
    background-color: white;
    border-radius: 324890px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    width: 200px;
    /* width: auto; */
    /* position: relative; */
    margin-top: -25px;
    margin-left: 60%;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}
.firstgriddiv{
    display: flex;
    flex-direction: column;
}
.secogrid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}
.mojo{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
.mojo1{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    padding-left: 7px;
}
.mojo2{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
#moji{
 font-size: 35px;
 padding-right: 5px;
}
.yaya{
    font-size: 15px;
    padding-left: 10px;
}
.yiyi{
    text-decoration: none;
    color: black;
    /* word-break: break-all; */
}
.newwp{
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    position: absolute;
    /* max-width: 1110px; */
    min-width: 700px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    height:1250px
}
.wholediv{
    position: relative;
    /* border: 2px black solid; */
}
.wpdiv{
    display: flex;
    /* max-width: 1100px; */
    justify-content: center;
}
.delet{
    background-color: white;
    color: red;
    width:100%;
    border-radius: 47823840328490px;
    font-size: 20px;
    padding: 8px;
    border:2px solid red;
    cursor: pointer;
}
.likepro{
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.legri{
    padding-top: 20px;
}
.oossadge{
height: 45px;
padding-left: 15px;
padding-right: 15px;

font-size: 25px;
border-radius: 329048px;
background-color: gray;
cursor: not-allowed;

}
.descripto{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.sadgewrap{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 25px;
}
.qty{
    padding-top: 20px;
}
.quantity{
    padding-bottom: 7px;
    font-size: 13px;
}
.proffp{
    width: 40px;
    height: 40px;
    border-radius: 242342px;
}
.reviewuserwrap{
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    padding-bottom: 11px;
}
.reviewuserwrap2{
    display: flex;
    flex-direction: row;

}
.revuser{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    font-size: 12px;
}
.proffpwrap{
    padding-right:7px;
}
.revdesc{
    font-size: 14px;
}

#staro{
font-size: 17px;
}
.cartform{
    padding-bottom: 10px;
}
.thisshopname{
    font-size: 20px;
}
.sta{
    height: 20px;
    margin-bottom: -5px;
}
.revforitemwrap{
    display: flex;
    padding-top: 25px;
    
}
.revforitem{
    padding-right: 20px;
}
.leline{
    background-color: rgb(214, 208, 208);
    height: 2px;
    /* margin-top: -20px; */
    width: 96%;
}
.lelinewrap{
    padding-top: 7px;
    padding-bottom: 40px;

}
.carbon{
    background-color:rgb(221,235,227) ;
    padding: 15px;
    border-radius:10px;
    font-size: 13px;
}
.revvy{
    word-break: break-all;
}